.linkBox {
  /*border: 2px solid white;*/
  width: 270px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 10px;
}

a:hover {
  color: blue;
}

a {
  color: white;
  text-decoration: none;
}
