section {
    margin: -8px;
    min-height: auto;
    background-color: #fff;
}

body {
	background-color: #152928;
}

.container h2, h3, h4{
	color: rgb(120,120,120);
}

.container h3 {
	margin-left: 7px;
}

.container {
	width: 90%;
	margin: 0 auto;
	display: grid;
	justify-content: center;
	/*border: 2px solid black;*/
}

.btn {
	margin-left: 250px;
}
input {
    margin: 5.5px;
}