section {
    margin: -8px;
    min-height: auto;
}

body {
	background-color: #152928;
}

header {
	background-color: rgba(21, 41, 40, 0.89);
	height: 75px;
}

.main {
    background: white;
}
h2, h3, h4, h5, label {
 color: rgb(120,120,120);
}

.container {
	width: 90%;
	margin: 0 auto;
	display: grid;
	justify-content: center;
	/*border: 2px solid black;*/
}