.container {
	width: 90%;
	height: auto;
	margin: 0 auto;
}

section h2, h3, h4, h5, label {
 color: #000;
 margin: 0;
}

.btn {
  	 margin-left: 253px;
}
  	
input[type="checkbox"] {
	margin-left: 5px;
}

#nomes {
	visibility: hidden;
}

#emails {
	visibility: hidden;
}

#senhas {
	visibility: hidden;
}

#termos {
	visibility: hidden;
}